/.idea
/.vscode
.env
/storage/installed
/storage/debugbar/*
/vendor/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*
/uploads/*
composer.json
composer.lock
!packages/workdo/**/composer.json
.qodo
